# Book recomandation

In [29]:
import pandas as pd
import numpy as np

In [30]:
## loading the dataset
book_1=pd.read_csv("Book.csv",encoding='windows-1252')

In [31]:
book_1.head()

,Unnamed: 0,userId,book,rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6

In [32]:
## Finding no of unique user in the data set
len(book_1.userId.unique())

2182

In [33]:
book_1.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

In [45]:
len(book_1.book.unique())

9659

reset_index

In [39]:
## Making the pivot table
user_book_df = pd.pivot_table(book_1,index='userId',
                                 columns='book',
                                 values='rating').reset_index(drop=False)

In [40]:
user_book_df

book,userId,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
0,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,278846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2178,278849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2179,278851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN
2180,278852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2181,278854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
user_book_df.index = book_1.userId.unique()

In [42]:
user_book_df

book,userId,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
276726,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276729,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276736,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276737,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276744,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162107,278846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162109,278849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162113,278851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN
162121,278852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162129,278854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
## Filling NA with 0
user_book_df.fillna(0, inplace=True)

In [44]:
user_book_df

book,userId,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
276726,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276729,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276736,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276737,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276744,14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162107,278846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162109,278849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162113,278851,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
162121,278852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162129,278854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
#Calculating Cosine Similarity between Users
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [47]:
user_sim = 1 - pairwise_distances( user_book_df.values,metric='cosine')

In [48]:
user_sim

array([[1.        , 0.39429125, 0.40634798, ..., 0.4738791 , 0.4738791 ,
        0.4738791 ],
       [0.39429125, 1.        , 0.71347724, ..., 0.83205029, 0.83205029,
        0.83205029],
       [0.40634798, 0.71347724, 1.        , ..., 0.85749292, 0.85749293,
        0.85749292],
       ...,
       [0.4738791 , 0.83205029, 0.85749292, ..., 1.        , 1.        ,
        0.99999999],
       [0.4738791 , 0.83205029, 0.85749293, ..., 1.        , 1.        ,
        1.        ],
       [0.4738791 , 0.83205029, 0.85749292, ..., 0.99999999, 1.        ,
        1.        ]])

In [49]:
#Store the results in a dataframe
user_sim_df = pd.DataFrame(user_sim)

In [50]:
#Set the index and column names to user ids 
user_sim_df.index = book_1.userId.unique()
user_sim_df.columns = book_1.userId.unique()

In [52]:
user_sim_df.iloc[0:10, 0:10]

,276726,276729,276736,276737,276744,276745,276747,276748,276751,276754
276726,1.000000,0.394291,0.406348,0.364044,0.395067,0.413021,0.398829,0.444661,0.451572,0.420872
276729,0.394291,1.000000,0.713477,0.639199,0.693670,0.725195,0.700275,0.780749,0.792882,0.738980
276736,0.406348,0.713477,1.000000,0.658744,0.714881,0.747370,0.721688,0.804623,0.817127,0.761576
276737,0.364044,0.639199,0.658744,1.000000,0.640457,0.669563,0.646555,0.720855,0.732058,0.682290
276744,0.395067,0.693670,0.714881,0.640457,1.000000,0.726622,0.701653,0.782285,0.794443,0.740434
276745,0.413021,0.725195,0.747370,0.669563,0.726622,1.000000,0.733540,0.817837,0.830547,0.774084
276747,0.398829,0.700275,0.721688,0.646555,0.701653,0.733540,1.000000,0.789733,0.802007,0.747484
276748,0.444661,0.780749,0.804623,0.720855,0.782285,0.817837,0.789733,1.000000,0.894171,0.833383
276751,0.451572,0.792882,0.817127,0.732058,0.794443,0.830547,0.802007,0.894171,1.000000,0.846334
276754,0.420872,0.738980,0.761576,0.682290,0.740434,0.774084,0.747484,0.833383,0.846334,1.000000

## Above table gives the similarity score or corelation of the users

In [53]:
np.fill_diagonal(user_sim, 0)
user_sim_df.iloc[0:10, 0:10]

,276726,276729,276736,276737,276744,276745,276747,276748,276751,276754
276726,0.000000,0.394291,0.406348,0.364044,0.395067,0.413021,0.398829,0.444661,0.451572,0.420872
276729,0.394291,0.000000,0.713477,0.639199,0.693670,0.725195,0.700275,0.780749,0.792882,0.738980
276736,0.406348,0.713477,0.000000,0.658744,0.714881,0.747370,0.721688,0.804623,0.817127,0.761576
276737,0.364044,0.639199,0.658744,0.000000,0.640457,0.669563,0.646555,0.720855,0.732058,0.682290
276744,0.395067,0.693670,0.714881,0.640457,0.000000,0.726622,0.701653,0.782285,0.794443,0.740434
276745,0.413021,0.725195,0.747370,0.669563,0.726622,0.000000,0.733540,0.817837,0.830547,0.774084
276747,0.398829,0.700275,0.721688,0.646555,0.701653,0.733540,0.000000,0.789733,0.802007,0.747484
276748,0.444661,0.780749,0.804623,0.720855,0.782285,0.817837,0.789733,0.000000,0.894171,0.833383
276751,0.451572,0.792882,0.817127,0.732058,0.794443,0.830547,0.802007,0.894171,0.000000,0.846334
276754,0.420872,0.738980,0.761576,0.682290,0.740434,0.774084,0.747484,0.833383,0.846334,0.000000

In [55]:
## Finding most similar usres
user_sim_df.idxmax(axis=1)[0:10]

276726    161995
276729    161995
276736    161995
276737    161995
276744    161995
276745    161995
276747    161995
276748    161677
276751    161995
276754    161995
dtype: int64

In [56]:
## Finding the result of two similar users
book_1[(book_1['userId']==276729) | (book_1['userId']==161995)]

,Unnamed: 0,userId,book,rating
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
9657,9658,161995,Peder Victorious: A Tale of the Pioneers Twent...,5
9658,9659,161995,The Lazarus Project: A Novel,8
9659,9660,161995,The Call of the Isles,5
9660,9661,161995,Deadlock,5

In [58]:
user_1=book_1[book_1['userId']==276748]

In [59]:
user_2=book_1[book_1['userId']==161677]

In [60]:
user_2.book

9190                             The Biggest Pumpkin Ever
9191    The Twelve Dancing Princesses: A Folk Tale fro...
9192                                         Do You Know?
9193               The good-by day (A Little golden book)
9194           Pooh Trick or Treat! (Little Golden Books)
9195                           Cookie Monster/Cookie Tree
9196    My Little Golden Book of Cars and Trucks (Litt...
9197    I Think That It is Wonderful: Featuring Jim He...
9198                                Grover's Own Alphabet
9199     Best Little Word Book Ever! (Little Golden Book)
9200      Busiest Firefighters Ever! (Little Golden Book)
9201                  The Monster at the End of This Book
9202                                             Kat Kong
9203                             IF YOU'RE AFRAID OF DARK
Name: book, dtype: object

# From above our recomndation system recomanded book for user2 by using similarity between userid

In [61]:
user_1.book

12    The Middle Stories
Name: book, dtype: object

## Above for user1

In [62]:
pd.merge(user_1,user_2,on='book',how='outer')

,Unnamed: 0_x,userId_x,book,rating_x,Unnamed: 0_y,userId_y,rating_y
0,13.0,276748.0,The Middle Stories,6.0,NaN,NaN,NaN
1,NaN,NaN,The Biggest Pumpkin Ever,NaN,9191.0,161677.0,8.0
2,NaN,NaN,The Twelve Dancing Princesses: A Folk Tale fro...,NaN,9192.0,161677.0,9.0
3,NaN,NaN,Do You Know?,NaN,9193.0,161677.0,5.0
4,NaN,NaN,The good-by day (A Little golden book),NaN,9194.0,161677.0,8.0
5,NaN,NaN,Pooh Trick or Treat! (Little Golden Books),NaN,9195.0,161677.0,6.0
6,NaN,NaN,Cookie Monster/Cookie Tree,NaN,9196.0,161677.0,8.0
7,NaN,NaN,My Little Golden Book of Cars and Trucks (Litt...,NaN,9197.0,161677.0,7.0
8,NaN,NaN,I Think That It is Wonderful: Featuring Jim He...,NaN,9198.0,161677.0,8.0
9,NaN,NaN,Grover's Own Alphabet,NaN,9199.0,161677.0,8.0
10,NaN,NaN,Best Little Word Book Ever! (Little Golden Book),NaN,9200.0,161677.0,10.0
11,NaN,NaN,Busiest Firefighters Ever! (Little Golden Book),NaN,9201.0,161677.0,7.0
12,NaN,NaN,The Monster at the End of This Book,NaN,9202.0,161677.0,8.0
13,NaN,NaN,Kat Kong,NaN,9203.0,161677.0,8.0
14,NaN,NaN,IF YOU'RE AFRAID OF DARK,NaN,9204.0,161677.0,9.0

In [63]:
user_3=book_1[book_1['userId']==276754]

In [64]:
user_4=book_1[book_1['userId']== 161995]

In [65]:
user_3.book

14    A Second Chicken Soup for the Woman's Soul (Ch...
Name: book, dtype: object

In [66]:
user_4.book

9657    Peder Victorious: A Tale of the Pioneers Twent...
9658                         The Lazarus Project: A Novel
9659                                The Call of the Isles
9660                                             Deadlock
Name: book, dtype: object

In [68]:
pd.merge(user_3,user_4,on='book',how='outer')

,Unnamed: 0_x,userId_x,book,rating_x,Unnamed: 0_y,userId_y,rating_y
0,15.0,276754.0,A Second Chicken Soup for the Woman's Soul (Ch...,8.0,NaN,NaN,NaN
1,NaN,NaN,Peder Victorious: A Tale of the Pioneers Twent...,NaN,9658.0,161995.0,5.0
2,NaN,NaN,The Lazarus Project: A Novel,NaN,9659.0,161995.0,8.0
3,NaN,NaN,The Call of the Isles,NaN,9660.0,161995.0,5.0
4,NaN,NaN,Deadlock,NaN,9661.0,161995.0,5.0

# Above table shows recomndation for user3 & user4